<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.BlogGraphInfoMapper">
    <select id="selectGraphsByBlogId" resultType="com.atguigu.lease.model.entity.BlogGraphInfo">
        SELECT
            id,
            blog_id,
            name,
            url
        FROM
            blog_graph_info
        WHERE
            blog_id = #{blogId}
          AND is_deleted = 0
    </select>
</mapper>